{% extends "horizon/common/_modal_form.html" %}
{% load i18n horizon humanize %}
{% load url from future %}

{% block form_id %}ipam_entry_form{% endblock %}
{% block form_action %}{% url 'horizon:project:networking:edit_ipam_entries' ipam.id %}{% endblock %}
{% block form_class %}{{ block.super }} horizontal split_half{% endblock %}

{% block modal_id %}ipam_entry_modal{% endblock %}
{% block modal-header %}{% trans "Edit IP Options" %}{% endblock %}

{% block modal-body %}
  <h3>{% trans "Add IP Option" %}</h3>
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add IP Option" %}" />
  <a href="{% url 'horizon:project:networking:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
