{% extends "horizon/common/_modal_form.html" %}
{% load i18n horizon humanize %}
{% load url from future %}

{% block form_id %}policy_rules_form{% endblock %}
{% block form_action %}{% url 'horizon:project:networking:edit_policy_rules' policy.id %}{% endblock %}
{% block form_class %}{{ block.super }} horizontal split_five{% endblock %}

{% block modal_id %}policy_rule_modal{% endblock %}
{% block modal-header %}{% trans "Edit Policy Rules" %}{% endblock %}

{% block modal-body %}
<fieldset>
  {% include "horizon/common/_form_fields.html" %}
</fieldset>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add Rule" %}" />
  <a href="{% url 'horizon:project:networking:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
