{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_connectivity_form{% endblock %}
{% block form_action %}{% url horizon:project:networking:create_conn %}{% endblock %}

{% block modal-header %}{% trans "Create Connectivity Table" %}{% endblock %}
{% block modal_id %}create_connectivity_modal{% endblock %}

{% block modal-body %}
<div class="left">
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
<div class="right">
  <h3>{% trans "Description" %}:</h3>
  <p>{% trans "From here you can create a new Connectivity Table. Connectivity Entries can be added by editing the Connectivity Table." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Table" %}" />
  <a href="{% url horizon:project:networking:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
